@import url(../fonts/Arial/stylesheet.css);
@import url(../fonts/ProximaNova/stylesheet.css);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Arial", sans-serif;
}

.main {
  min-height: 53vh;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding-top: 250px;
  padding-bottom: 100px;
}

.modal.active {
  display: block;
}

.modal__block, .modal__block2 {
  max-width: 1000px;
  background: linear-gradient(264.33deg, #FFFFFF 42.65%, rgba(255, 255, 255, 0) 67.86%), #FFFFFF;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  padding: 52px 60px 60px 60px;
}
.modal__block .input_text, .modal__block2 .input_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #253245;
  margin-bottom: 16px;
}
.modal__block .input, .modal__block2 .input {
  width: 285px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.modal__block .input input, .modal__block2 .input input {
  width: 100%;
  height: 50px;
  border: 1px solid #E1E6E9;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
}
.modal__block .input input::-webkit-input-placeholder, .modal__block2 .input input::-webkit-input-placeholder {
  color: #A8ADB5;
}
.modal__block .input input::-moz-placeholder, .modal__block2 .input input::-moz-placeholder {
  color: #A8ADB5;
}
.modal__block .input input:-ms-input-placeholder, .modal__block2 .input input:-ms-input-placeholder {
  color: #A8ADB5;
}
.modal__block .input input::-ms-input-placeholder, .modal__block2 .input input::-ms-input-placeholder {
  color: #A8ADB5;
}
.modal__block .input input::placeholder, .modal__block2 .input input::placeholder {
  color: #A8ADB5;
}
.modal__block .textarea, .modal__block2 .textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 119px;
  min-height: 119px;
  max-height: 119px;
  border: 1px solid #E1E6E9;
  border-radius: 5px;
  padding: 15px 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 40px;
}
.modal__block .textarea::-webkit-input-placeholder, .modal__block2 .textarea::-webkit-input-placeholder {
  color: #A8ADB5;
}
.modal__block .textarea::-moz-placeholder, .modal__block2 .textarea::-moz-placeholder {
  color: #A8ADB5;
}
.modal__block .textarea:-ms-input-placeholder, .modal__block2 .textarea:-ms-input-placeholder {
  color: #A8ADB5;
}
.modal__block .textarea::-ms-input-placeholder, .modal__block2 .textarea::-ms-input-placeholder {
  color: #A8ADB5;
}
.modal__block .textarea::placeholder, .modal__block2 .textarea::placeholder {
  color: #A8ADB5;
}
.modal__block .box, .modal__block2 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__block .box .input:nth-child(3n), .modal__block2 .box .input:nth-child(3n) {
  margin-right: 0;
}
.modal__block .btn, .modal__block2 .btn {
  width: 285px;
  height: 50px;
  background: linear-gradient(18.4deg, #624F9E 12.95%, #A17EB8 88.13%), #A27EB8;
  border-radius: 5px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #FFFFFF;
  margin-right: 20px;
}
.modal__block .h6, .modal__block2 .h6 {
  width: 273px;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #A8ADB5;
  padding-top: 12px;
}
.modal__block .h6 .link, .modal__block2 .h6 .link {
  color: #604D9E;
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 32px;
  right: 32px;
  border: 0;
  background-color: transparent;
}

.modal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 32px;
}
.modal__title .h2 {
  width: 300px;
  font-weight: 700;
  font-size: 44px;
  line-height: 104.9%;
  color: #253245;
}
.modal__title .text {
  width: 280px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #253245;
}

.modal__block2 {
  max-width: 485px;
  padding-left: 55px;
  padding-right: 55px;
}
.modal__block2 .input {
  width: 100%;
  margin-bottom: 43px;
}

.modal__title2 {
  padding-left: 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #253245;
  margin-bottom: 30px;
  position: relative;
}

.modal__title2::before {
  content: "";
  width: 2px;
  height: 39px;
  background: linear-gradient(18.4deg, #624F9E 12.95%, #A17EB8 88.13%), #D9D9D9;
  border-radius: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header {
  height: 222px;
  background-color: #fff;
  font-family: "Proxima Nova Lt";
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
  background: -webkit-gradient(linear, left bottom, left top, from(#A27EB8), to(#A27EB8)), #349C5F;
  background: linear-gradient(0deg, #A27EB8, #A27EB8), #349C5F;
}
.header__top .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top .nav .item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-right: 27px;
}
.header__top .soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.header__top .soc .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 3px;
  margin-left: 9px;
}
.header__top .soc .item:nth-child(1) {
  margin-left: 0;
}

.header__language {
  margin-left: 88px;
}
.header__language .btn {
  border: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.header__language .btn svg {
  margin-left: 8px;
}

.header__bottom {
  height: 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.header__right {
  width: calc(100% - 169px);
}

.header__navbar .ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__navbar .item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #253245;
  margin-left: 43px;
}
.header__navbar .li:nth-child(1) .item {
  margin-left: 0;
}

.header__email {
  display: block;
  min-width: 164px;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #253245;
  margin-right: 10px;
}

.header__phone {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #253245;
}

.header__search {
  width: 296px;
  height: 50px;
  margin-left: auto;
  position: relative;
}
.header__search .icon {
  position: absolute;
  top: 50%;
  left: 21px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__search .input {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #E1E6E9;
  border-radius: 5px 0 0 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #253245;
  padding: 0 130px 0 58px;
}
.header__search .input::-webkit-input-placeholder {
  color: #253245;
}
.header__search .input::-moz-placeholder {
  color: #253245;
}
.header__search .input:-ms-input-placeholder {
  color: #253245;
}
.header__search .input::-ms-input-placeholder {
  color: #253245;
}
.header__search .input::placeholder {
  color: #253245;
}
.header__search .btn {
  width: 109px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(18.4deg, #624F9E 12.95%, #A17EB8 88.13%), #604D9E;
  border-radius: 5px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
}

.header__help {
  width: 200px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FE5351), to(#C93836));
  background: linear-gradient(180deg, #FE5351 0%, #C93836 100%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #FFFFFF;
  border: 0;
  margin-left: 21px;
}

.header__logo {
  width: 122px;
  height: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 47px;
}
.header__logo img {
  width: 100%;
}

.banner {
  font-family: "Proxima Nova Lt";
}

.banner__wrap {
  height: 584px;
  padding-top: 185px;
}

.banner__h1 {
  font-weight: 700;
  font-size: 77px;
  line-height: 117.4%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 17px 37px rgba(0, 0, 0, 0.7);
  margin-bottom: 26px;
  max-width: 950px;
  width: 100%;
}
.banner__h1 span {
  background: linear-gradient(18.4deg, #624F9E 12.95%, #A17EB8 88.13%), #A27EB8;
  padding: 0 16px;
}

.banner__text {
  font-weight: 700;
  font-size: 40px;
  line-height: 97.3%;
  color: #FFFFFF;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.62);
}

.title_h2 {
  font-family: "Proxima Nova Lt";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 44px;
  line-height: 110.4%;
  letter-spacing: 0.5px;
  color: #253245;
}
.title_h2 .link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #604D9E;
  margin-left: auto;
}

.fund {
  background: #FBF4FF;
  padding: 83px 0;
}
.fund .title_h2 {
  margin-bottom: 19px;
}

.fund__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 57px;
}

.fund__img, .fund__img2 {
  width: 540px;
  height: 420px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.fund__img img, .fund__img2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.fund__img2 {
  height: 760px;
}

.fund__content, .fund__content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 515px;
}
.fund__content .text, .fund__content2 .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #253245;
  margin-bottom: 38px;
}
.fund__content .quote, .fund__content2 .quote {
  max-width: 287px;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #253245;
  margin-top: 100px;
  position: relative;
}
.fund__content .quote .link, .fund__content2 .quote .link {
  display: block;
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #253245;
  opacity: 0.6;
}
.fund__content .quote::after, .fund__content2 .quote::after {
  content: "";
  width: 43px;
  height: 31px;
  background: url(../img/quote.svg) no-repeat center/cover;
  position: absolute;
  top: -60px;
  left: 0;
}
.fund__content .buttons, .fund__content2 .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fund__content .buttons .btn, .fund__content2 .buttons .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 0 20px 0 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #604D9E;
  border: 1px solid #604D9E;
  border-radius: 5px;
  margin-right: 24px;
}
.fund__content .buttons .btn svg, .fund__content2 .buttons .btn svg {
  margin-left: 34px;
}
.fund__content .buttons .btn:last-child, .fund__content2 .buttons .btn:last-child {
  margin-right: 0;
}

.fund__content2 {
  width: 540px;
}

.help {
  background: #FBF4FF;
  padding-bottom: 100px;
}
.help .title_h2 {
  margin-bottom: 28px;
}

.help__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.help__tab .btn {
  background: #FFFFFF;
  border-radius: 5px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #253245;
  padding: 10px 14px 12px;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.help__tab .btn:hover {
  background: #624F9E;
  color: #FFFFFF;
}
.help__tab .btn.active {
  background: linear-gradient(18.4deg, #624F9E 12.95%, #A17EB8 88.13%), linear-gradient(0deg, #A27EB8, #A27EB8), linear-gradient(2.35deg, #349C5F 2.07%, #6FB74E 78.93%), #349C5F;
  color: #FFFFFF;
}

.help__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help__block {
  width: 350px;
  margin-right: 30px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 40px;
}
.help__block .img {
  width: 100%;
  height: 197px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.help__block .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.help__block .content {
  height: calc(100% - 197px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 28px 30px 30px;
}
.help__block .title {
  height: 84px;
  overflow: hidden;
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  color: #253245;
  margin-bottom: 12px;
}
.help__block .text {
  height: 108px;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #253245;
  margin-bottom: 23px;
}
.help__block .btn {
  display: inline-block;
  padding: 10px 15px 11px;
  background: linear-gradient(18.4deg, #624F9E 12.95%, #A17EB8 88.13%), linear-gradient(0deg, #A27EB8, #A27EB8), #604D9E;
  border-radius: 5px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 32px;
}
.help__block .input {
  width: 288px;
  height: 47px;
  border: 1px solid #DFE1E2;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.help__block .input .h5 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 500;
  font-size: 18px;
  line-height: 95.9%;
  color: #7D7E81;
  padding: 0 15px 12px 15px;
}
.help__block .input .h5 .blue {
  font-weight: 700;
  font-size: 22px;
  color: #604D9E;
  margin-right: 12px;
}
.help__block .input .h5 .black {
  font-weight: 500;
  color: #253245;
  margin-left: 10px;
}
.help__block .input .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.help__block .input .line span {
  display: block;
  height: 1px;
  background: #604D9E;
}

.help__block:nth-child(3n) {
  margin-right: 0;
}

.help__paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.help__paginator .wrap {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  background: #FFFFFF;
  border-radius: 5px;
  margin: 0 10px;
}
.help__paginator .link {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #A8ADB5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.help__paginator .link.active, .help__paginator .link:hover {
  color: #604D9E;
}
.help__paginator .left, .help__paginator .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.help__paginator .left svg path, .help__paginator .right svg path {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.help__paginator .left:hover, .help__paginator .right:hover {
  background: #604D9E;
}
.help__paginator .left:hover svg path, .help__paginator .right:hover svg path {
  stroke: #fff;
}

.news {
  padding-top: 90px;
  padding-bottom: 68px;
}
.news .title_h2 {
  margin-bottom: 35px;
}

.news__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__block {
  display: block;
  width: 350px;
  margin-right: 30px;
}
.news__block .img {
  width: 100%;
  height: 222px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.news__block .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.news__block .content {
  padding: 21px 17px 27px 30px;
}
.news__block .title {
  display: block;
  height: 48px;
  overflow: hidden;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #253245;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.news__block .title:hover {
  color: #604D9E;
}
.news__block .text {
  height: 108px;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #253245;
  margin-bottom: 24px;
}
.news__block .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news__block .date {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7D7E81;
  margin-right: 26px;
}
.news__block .link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #604D9E;
}

.news__block:nth-child(3n) {
  margin-right: 0;
}

.form_help {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #FBF4FF;
}

.form_help__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(264.33deg, #FFFFFF 42.65%, rgba(255, 255, 255, 0) 67.86%), #FFFFFF;
  border-radius: 5px;
}

.form_help__left {
  width: 540px;
  min-height: 803px;
  padding: 52px 60px 60px 50px;
}
.form_help__left .title {
  max-width: 383px;
  width: 100%;
  font-weight: 700;
  font-size: 44px;
  line-height: 104.9%;
  color: #253245;
  margin-bottom: 22px;
}
.form_help__left .text {
  max-width: 290px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #253245;
  margin-bottom: 32px;
}
.form_help__left .input {
  margin-bottom: 20px;
}
.form_help__left .input input {
  width: 100%;
  height: 50px;
  border: 1px solid #E1E6E9;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
}
.form_help__left .input input::-webkit-input-placeholder {
  color: #A8ADB5;
}
.form_help__left .input input::-moz-placeholder {
  color: #A8ADB5;
}
.form_help__left .input input:-ms-input-placeholder {
  color: #A8ADB5;
}
.form_help__left .input input::-ms-input-placeholder {
  color: #A8ADB5;
}
.form_help__left .input input::placeholder {
  color: #A8ADB5;
}
.form_help__left .textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 191px;
  min-height: 191px;
  max-height: 191px;
  padding: 15px 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  border: 1px solid #E1E6E9;
  border-radius: 5px;
  margin-bottom: 40px;
}
.form_help__left .textarea::-webkit-input-placeholder {
  color: #A8ADB5;
}
.form_help__left .textarea::-moz-placeholder {
  color: #A8ADB5;
}
.form_help__left .textarea:-ms-input-placeholder {
  color: #A8ADB5;
}
.form_help__left .textarea::-ms-input-placeholder {
  color: #A8ADB5;
}
.form_help__left .textarea::placeholder {
  color: #A8ADB5;
}
.form_help__left .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form_help__left .btn {
  min-width: 164px;
  width: 164px;
  height: 50px;
  background: linear-gradient(18.4deg, #624F9E 12.95%, #A17EB8 88.13%), #A27EB8;
  border-radius: 5px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  margin-right: 20px;
}
.form_help__left .h6 {
  max-width: 200px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #A8ADB5;
}
.form_help__left .h6 .link {
  color: #604D9E;
}

.form_help__right {
  width: calc(100% - 540px);
  background: url(../img/form-help.png) no-repeat center/cover;
}

.help_page {
  padding-top: 48px;
  padding-bottom: 156px;
  background: #FBF4FF;
}
.help_page .title_h2 {
  margin-bottom: 23px;
}

.help_page__wrap {
  padding: 55px 60px 60px 60px;
  background: linear-gradient(264.33deg, #FFFFFF 42.65%, rgba(255, 255, 255, 0) 67.86%), #FFFFFF;
  border-radius: 5px;
}
.help_page__wrap .input_wrap .title {
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #253245;
  margin-bottom: 16px;
}
.help_page__wrap .input_wrap .input {
  width: 310px;
  height: 50px;
  border: 1px solid #E1E6E9;
  border-radius: 5px;
  padding: 0 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 40px;
}
.help_page__wrap .input_wrap .input::-webkit-input-placeholder {
  color: #A8ADB5;
}
.help_page__wrap .input_wrap .input::-moz-placeholder {
  color: #A8ADB5;
}
.help_page__wrap .input_wrap .input:-ms-input-placeholder {
  color: #A8ADB5;
}
.help_page__wrap .input_wrap .input::-ms-input-placeholder {
  color: #A8ADB5;
}
.help_page__wrap .input_wrap .input::placeholder {
  color: #A8ADB5;
}
.help_page__wrap .input_wrap .textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 101px;
  min-height: 101px;
  max-height: 101px;
  border: 1px solid #E1E6E9;
  border-radius: 5px;
  padding: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 44px;
}
.help_page__wrap .input_wrap .textarea::-webkit-input-placeholder {
  color: #A8ADB5;
}
.help_page__wrap .input_wrap .textarea::-moz-placeholder {
  color: #A8ADB5;
}
.help_page__wrap .input_wrap .textarea:-ms-input-placeholder {
  color: #A8ADB5;
}
.help_page__wrap .input_wrap .textarea::-ms-input-placeholder {
  color: #A8ADB5;
}
.help_page__wrap .input_wrap .textarea::placeholder {
  color: #A8ADB5;
}
.help_page__wrap .btn {
  width: 310px;
  height: 50px;
  background: linear-gradient(18.4deg, #624F9E 12.95%, #A17EB8 88.13%);
  border-radius: 5px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #FFFFFF;
  margin-right: 44px;
}
.help_page__wrap .h6 {
  max-width: 233px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #A8ADB5;
  padding-top: 12px;
}
.help_page__wrap .h6 a {
  color: #604D9E;
}
.help_page__wrap .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.help_page__wrap .box .input_wrap {
  margin-right: 32px;
}
.help_page__wrap .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 37px;
}
.help_page__wrap .check input {
  width: 26px;
  height: 26px;
  margin-right: 9px;
  position: relative;
  z-index: -1;
}
.help_page__wrap .check label {
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #253245;
  padding-top: 5px;
}
.help_page__wrap .check label::after {
  content: "";
  width: 26px;
  height: 26px;
  border: 1px solid #E1E6E9;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox, .checkbox2 {
  display: inline-block;
  position: relative;
  margin-right: 32px;
  margin-bottom: 40px;
}
.checkbox input, .checkbox2 input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.checkbox label, .checkbox2 label {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 310px;
  height: 50px;
  border: 1px solid #E1E6E9;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #A8ADB5;
}
.checkbox input:checked + label, .checkbox2 input:checked + label {
  border: 1px solid #604D9E;
  color: #604D9E;
}

.checkbox2 {
  margin-right: 18px;
  margin-bottom: 16px;
}
.checkbox2 label {
  width: auto;
  padding: 0 18px;
}

.help_page__block {
  background: linear-gradient(264.33deg, #FFFFFF 42.65%, rgba(255, 255, 255, 0) 67.86%), #FFFFFF;
  border-radius: 5px;
  margin-bottom: 100px;
}
.help_page__block .wrap {
  padding: 52px 60px 0 60px;
}
.help_page__block .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #253245;
  margin-bottom: 50px;
}
.help_page__block .img {
  width: 100%;
  height: 337px;
  background: -webkit-gradient(linear, left bottom, left top, from(#253245), to(#253245));
  background: linear-gradient(0deg, #253245, #253245);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.help_page__block .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}
.crumbs a, .crumbs p {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #7D7E81;
}
.crumbs a:hover {
  color: #604D9E;
}
.crumbs span {
  width: 5px;
  height: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12px;
}

.management_and_staff {
  padding-top: 48px;
  padding-bottom: 100px;
  background: #FBF4FF;
}
.management_and_staff .title_h2 {
  margin-bottom: 23px;
}

.management_and_staff__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.management_and_staff__block {
  width: 350px;
  height: 177px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-right: 30px;
  padding: 23px 32px 22px 32px;
}
.management_and_staff__block .name {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: #253245;
  margin-bottom: 10px;
}
.management_and_staff__block .profession {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #7D7E81;
}

.management_and_staff__block:nth-child(3n) {
  margin-right: 0;
}

.management_and_staff__person {
  width: 255px;
  height: 355px;
  margin-bottom: 8px;
  margin-right: 30px;
}
.management_and_staff__person .img {
  width: 100%;
  height: 255px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 5px;
}
.management_and_staff__person .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.management_and_staff__person .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 175%;
  color: #253245;
  text-align: center;
}
.management_and_staff__person .profession {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  color: #7D7E81;
}

.management_and_staff__person:nth-child(4n) {
  margin-right: 0;
}

.projects {
  padding-top: 48px;
  padding-bottom: 100px;
  background: #FBF4FF;
}
.projects .title_h2 {
  margin-bottom: 35px;
}

.projects__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 37px 67px 16px 43px;
}

.projects__link {
  width: 50%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #253245;
  margin-bottom: 24px;
}

.reports {
  padding-top: 48px;
  padding-bottom: 66px;
  background: #FBF4FF;
}
.reports .title_h2 {
  margin-bottom: 39px;
}

.reports__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #253245;
  margin-bottom: 37px;
}

.reports__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reports__box .li {
  width: 50%;
  margin-bottom: 24px;
}

.reports__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #604D9E;
  padding-left: 32px;
  position: relative;
}

.reports__link::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 12px;
  background-color: #604D9E;
}

.volunteers {
  padding-top: 48px;
  background: #FBF4FF;
}
.volunteers .title_h2 {
  margin-bottom: 43px;
}

.volunteers__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.volunteers__wrap .content {
  width: 447px;
  margin-bottom: 100px;
}
.volunteers__wrap .content .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #253245;
  margin-bottom: 24px;
}
.volunteers__wrap .content .text2 {
  max-width: 327px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #253245;
}
.volunteers__wrap .content .text:last-child {
  margin-bottom: 0;
}
.volunteers__wrap .img, .volunteers__wrap .img2 {
  width: 570px;
  height: 487px;
  background: -webkit-gradient(linear, left bottom, left top, from(#253245), to(#253245));
  background: linear-gradient(0deg, #253245, #253245);
  border-radius: 5px;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
}
.volunteers__wrap .img img, .volunteers__wrap .img2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.volunteers__wrap .img2 {
  height: 620px;
}

.volunteers_bottom {
  background: #FBF4FF;
  padding-bottom: 90px;
}
.volunteers_bottom .title_h2 {
  margin-bottom: 35px;
}

.volunteers + .form_help {
  padding-top: 0;
}

.article {
  padding-top: 48px;
  padding-bottom: 100px;
  background: #FBF4FF;
}

.article__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 52px 60px 20px 60px;
  background: linear-gradient(264.33deg, #FFFFFF 42.65%, rgba(255, 255, 255, 0) 67.86%), #FFFFFF;
  border-radius: 5px;
}

.article__left {
  width: 290px;
}
.article__left .img {
  width: 100%;
  height: 390px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 34px;
}
.article__left .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.article__left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: #253245;
  margin-bottom: 16px;
}
.article__left .title span {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #604D9E;
  margin-left: 5px;
}
.article__left .title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #253245;
  margin-bottom: 35px;
}
.article__left .title2 span {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #253245;
  margin-left: 6px;
}
.article__left .btn {
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FE5351), to(#C93836));
  background: linear-gradient(180deg, #FE5351 0%, #C93836 100%);
  border-radius: 5px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #FFFFFF;
}

.article__right {
  width: 640px;
}
.article__right .name {
  font-weight: 700;
  font-size: 44px;
  line-height: 110.4%;
  letter-spacing: 0.5px;
  color: #253245;
  margin-bottom: 23px;
}
.article__right .title {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #8D8D8D;
  margin-bottom: 22px;
}
.article__right .title span {
  color: #253245;
}
.article__right .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.article__right .box .title {
  margin-bottom: 10px;
  margin-right: 38px;
}
.article__right .text, .article__right .text2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #253245;
  margin-bottom: 30px;
}
.article__right .text2 {
  color: #8D8D8D;
}

.footer {
  padding-top: 37px;
  padding-bottom: 38px;
  background: linear-gradient(18.4deg, #624F9E 12.95%, #A17EB8 88.13%), #253245;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  width: 154px;
  height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF));
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border-radius: 5px;
  margin-right: 70px;
}
.footer__logo img {
  width: 122px;
}

.footer__right {
  width: calc(100% - 276px);
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 66px;
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__soc .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 3px;
  margin-left: 9px;
}
.footer__soc .item:nth-child(1) {
  margin-left: 0;
}

.footer__map {
  width: 240px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer__email {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.footer__phone {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.footer__bottom {
  max-width: 456px;
  width: 100%;
}
.footer__bottom .copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-bottom: 6px;
}
.footer__bottom .copy .link {
  margin-right: 50px;
  color: #C8C8C8;
}
.footer__bottom .copy .link:hover {
  text-decoration: underline;
}
.footer__bottom .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.footer__bottom .text .link {
  color: #C8C8C8;
}
.footer__bottom .text .link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  section {
    display: none;
  }

  .container {
    padding: 0 15px;
  }

  .header__top {
    display: none;
  }

  .header__navbar, .header__email, .header__phone, .header__search {
    display: none;
  }

  .header {
    height: auto;
  }

  .header__bottom {
    height: 86px;
  }

  .header__logo {
    width: 50px;
    height: 55px;
    margin-right: 24px;
  }

  .header__right {
    width: calc(100% - 74px);
  }

  .header__bottom .top {
    margin-bottom: 0;
  }

  .header__help {
    margin-left: 0;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 32px;
    position: relative;
  }

  .footer__soc {
    position: absolute;
    top: 40px;
    right: 15px;
  }

  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    width: 100px;
    height: 113px;
    margin: 0;
    margin-bottom: 30px;
  }
  .footer__logo img {
    width: 79px;
  }

  .footer__right {
    width: 100%;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }

  .footer__map {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 15px;
  }

  .footer__email {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 17px;
  }

  .footer__phone {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 23px;
  }

  .footer__bottom .copy {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 14px;
  }
  .footer__bottom .copy .link {
    margin-right: 0;
  }

  .footer__bottom .text {
    font-size: 14px;
    line-height: 20px;
  }

  .banner {
    display: block;
  }

  .banner__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 0;
    padding-bottom: 46px;
  }

  .banner__h1 {
    font-size: 28px;
    line-height: 117.4%;
    margin-bottom: 12px;
  }
  .banner__h1 span {
    padding: 0 4px;
  }

  .banner__text {
    font-size: 20px;
    line-height: 97.3%;
  }

  .fund {
    display: block;
    padding-top: 70px;
  }

  .title_h2 {
    max-width: 330px;
    width: 100%;
    font-size: 30px;
    line-height: 110.4%;
  }

  .fund__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }

  .fund__content, .fund__content2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .fund__content .text:last-child, .fund__content2 .text:last-child {
    margin-bottom: 0;
  }

  .fund__img, .fund__img2 {
    width: 100%;
    height: 260px;
    margin-bottom: 20px;
  }

  .fund__img2 {
    display: none;
  }

  .fund__content .buttons, .fund__content2 .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fund__content .buttons .btn, .fund__content2 .buttons .btn {
    margin-right: 0;
    margin-top: 20px;
  }

  .help {
    display: block;
    padding-bottom: 75px;
  }

  .help__tab {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 18px;
  }
  .help__tab .btn {
    margin-bottom: 14px;
  }

  .help__block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .help__block .btn {
    width: 100%;
    padding: 11px 15px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .help__block .title {
    font-size: 22px;
    line-height: 125%;
    margin-bottom: 16px;
  }

  .help__block .text {
    margin-bottom: 26px;
  }

  .help__block .input {
    width: 100%;
  }

  .help__paginator {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .help__paginator .link {
    padding: 0 7px;
  }

  .news {
    display: block;
    background: #FBF4FF;
    position: relative;
    padding-top: 0;
    padding-bottom: 136px;
  }
  .news .title_h2 .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    height: 40px;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 80px;
    background: linear-gradient(18.4deg, #624F9E 12.95%, #A17EB8 88.13%), linear-gradient(0deg, #A27EB8, #A27EB8), #604D9E;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
  }

  .news__block {
    width: 100%;
    background-color: #fff;
    margin-bottom: 16px;
    margin-right: 0;
    border-radius: 5px;
  }

  .news__block .img img {
    height: 100%;
    width: auto;
  }

  .news__block .content {
    padding: 24px 30px 24px 30px;
  }

  .form_help {
    display: block;
    padding-top: 0;
    padding-bottom: 80px;
  }

  .form_help__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
  }

  .form_help__left {
    width: 100%;
    padding: 28px 32px;
  }

  .form_help__right {
    width: 100%;
    height: 465px;
  }

  .form_help__left .title {
    font-size: 30px;
    line-height: 104.9%;
    margin-bottom: 17px;
  }

  .form_help__left .text {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 25px;
  }

  .form_help__left .textarea {
    margin-bottom: 32px;
  }

  .form_help__left .box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form_help__left .btn {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .form_help__left .h6 {
    max-width: 266px;
    font-size: 16px;
    line-height: 125%;
  }

  .article {
    display: block;
    padding-top: 80px;
  }

  .crumbs {
    display: none;
  }

  .article__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 20px 30px 20px;
    position: relative;
  }

  .article__left {
    width: 100%;
  }

  .article__left .img {
    margin-bottom: 140px;
  }

  .article__left .img img {
    width: 100%;
    height: auto;
  }

  .article__right {
    width: 100%;
  }

  .article__left .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 13px;
  }

  .article__left .title span {
    margin-left: 0;
    margin-top: 8px;
  }

  .article__left .title2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 32px;
  }
  .article__left .title2 span {
    margin-left: 0;
    margin-top: 4px;
  }

  .article__right .name {
    position: absolute;
    top: 454px;
    left: 0;
    padding: 0 20px;
    margin-bottom: 0;
  }

  .article__left .btn {
    margin-bottom: 32px;
  }

  .article__right .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .article__right .box .title {
    margin-bottom: 19px;
  }
  .article__right .box .title span {
    display: block;
  }

  .article__right .text2:last-child {
    margin-bottom: 0;
  }

  .help_page {
    display: block;
    padding-top: 69px;
    padding-bottom: 69px;
  }

  .help_page__wrap {
    padding: 35px 20px 37px 20px;
  }

  .help_page__wrap .box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .checkbox, .checkbox2 {
    margin-bottom: 16px;
  }

  .help_page__wrap .box .input_wrap {
    margin-right: 0;
  }

  .help_page__wrap .input_wrap .input {
    margin-bottom: 27px;
  }

  .help_page__wrap .input_wrap .textarea {
    margin-bottom: 32px;
  }

  .help_page__wrap .btn {
    width: 100%;
    margin-right: 0;
  }

  .help_page__wrap .h6 {
    padding-top: 26px;
    max-width: 244px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .help_page__block .wrap {
    padding: 31px 20px;
  }
  .help_page__block .wrap .text:last-child {
    margin-bottom: 0;
  }

  .help_page__block .img {
    height: 330px;
  }

  .help_page__block {
    margin-bottom: 80px;
  }

  .management_and_staff {
    display: block;
    padding-top: 69px;
    padding-bottom: 66px;
  }

  .management_and_staff__block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 14px;
  }

  .management_and_staff__person {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 22px;
  }

  .management_and_staff__person .img {
    height: 330px;
  }

  .projects {
    display: block;
    padding-top: 69px;
    padding-bottom: 80px;
  }

  .projects__wrap {
    padding: 37px 20px 0;
  }

  .projects__link {
    width: 100%;
  }

  .reports {
    display: block;
    padding-top: 69px;
    padding-bottom: 50px;
  }

  .reports__box .li {
    width: 100%;
  }

  .reports__link {
    display: block;
  }

  .volunteers {
    display: block;
    padding-top: 69px;
    padding-bottom: 60px;
  }

  .volunteers__wrap .content {
    width: 100%;
    margin-bottom: 22px;
  }

  .volunteers__wrap .img, .volunteers__wrap .img2 {
    width: 100%;
    height: 282px;
    margin-bottom: 28px;
  }

  .volunteers__wrap > div:nth-child(1) {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }

  .volunteers__wrap > div:nth-child(2) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }

  .volunteers__wrap > div:nth-child(4) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .volunteers_bottom {
    padding-bottom: 50px;
  }

  .volunteers .title_h2 {
    margin-bottom: 14px;
  }

  .help_page .title_h2 {
    margin-bottom: 26px;
  }

  .management_and_staff .title_h2 {
    margin-bottom: 26px;
  }

  .projects .title_h2 {
    margin-bottom: 26px;
  }

  .reports .title_h2 {
    margin-bottom: 14px;
  }

  .fund .title_h2 {
    margin-bottom: 14px;
  }

  .help .title_h2 {
    margin-bottom: 26px;
  }

  .news .title_h2 {
    margin-bottom: 26px;
  }
}